@font-face {
    font-family:'Eudoxus', 'Sans' ;
    src: url(../fonts/EudoxusSans-ExtraBold.zip);
    font-family: 'Aeonik';
    src: url(../fonts/Aeonik-font-download.zip);
    font-family: 'Lota', 'Grotesque';
    src: url(../fonts/OnlineWebFonts_COM_9d6af55c24079cce18783c366d7a937d.zip);
}

*{
    text-decoration: none;
    color: #FFFFFF;
}
body{
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.body{
    width: 100%;
    /* height: max-content; */
    background-color:#060C22;
}
.nav{
    position: sticky;
    top: 0px;
    transition: background-color 500ms ease-in;
}
.wrapper{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

#logo{
    width: 20%;
    display: flex;
    justify-content: center;
}
#logo img{
    padding-left: 17%;
}
#logo p{
    color: #0AAA76;
    font:1.3em 'Eudoxus', 'Sans' ;
    font-weight: 400;
    padding-left: 5%;
}
#nav-link{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav-link a{
    margin-inline: 20px;
    font: 1em 'Aeonik' ;
    font-weight: 400;
    color: #FFFFFF;
}
#navlink{
    width: 100%;
    height: 210px !important;
    display: none;
    transition: all 500ms ease-in !important;

}
#navlink a{
    font: 1em 'Aeonik' ;
    font-weight: 400;
    color: #FFFFFF;
}
#nav-link span{
    position: relative;
    right: 2.5%;
    top: 2px;
    font-size: 1.5em;
    color: #FFFFFF;
    cursor: pointer;
}
#nav-button{
    width: 20%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#button1{
    width: 45%;
    height: 40px;
    background-image: linear-gradient(0deg, #0AAA76 -12.28%, #51F5C1 142.98%);
    border-radius: 20px;
    border: none;
    color: #FFFFFF;
    font-weight: 400;
    font: 0.9em 'Lota', 'Grotesque';
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-icon{
    display: none;
    width: 6.5%;
    height: 45px;
    margin-left: 60%;
    border: 1px solid red;
}
.fa-bars{
    height: 100px;
    font-size: 2.8em;
}

/* first section */
.section{
    width: 100%;
    height: 730px;
    display: flex;
}
.sub-section1{
    width: 60%;
}
.sub-section2{
    width: 40%;
}
#wrap1{
    height: max-content;
}
#wrap1 p:nth-child(1){
    width: 80%;
    font: 2.5em 'Aeonik';
    margin-inline: 8%;
    margin-top: 100px;
    font-weight: 700;
    color: #FFFFFF;
}
#wrap1 span{
  color: #0AAA76;
}
#wrap1 p:nth-child(2){
    width: 80%;
    font: 1.14em 'Aeonik';
    margin-inline: 8%;
    font-weight: 400;
    margin-top: -30px;
    color: #FFFFFF;

}
#button-wrap{
    width: 60%;
    display: flex;
    margin-inline: 8%;
}

#btn1{
    width: 40%;
    height: 50px;
    border-radius: 20px;
    background-image: linear-gradient(0deg, #0AAA76 -12.28%, #51F5C1 142.98%);
    color: #FFFFFF;
    border: none;
    font-family: 1em 'Lota', 'Grotesque';
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}


#btn2{
    width: 40%;
    height: 50px;
    border-radius: 20px;
    margin-left: 8%;
    background-color: #061C2A;
    color: #0AAA76;
    border: none;
    font-family: 1em 'Lota', 'Grotesque';
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

#text1{
    margin-inline: 8%;
    font: 1.2em 'Aeonik';
    margin-top: 40px;
    font-weight: 500;
}
#wrap2{
    width: 100%;
    color: #FFFFFF;
}
#sub-wrap{
    width:100% ;
    margin-inline: 4%;
}
#same{
    display: flex;
    width: 100%;

}
#same1{
    display: flex;
    width: 100%;
}
.sub{
    display: flex;
    width: 50%;
}
#img1{
    width: 35%;
    height: 50px;
    object-fit: contain;
    margin-top: 20px;
}
#img2{
    width: 35%;
    height: 50px;
    object-fit: contain;
    margin-top: 20px;
}
#img3{
    width: 35%;
    height: 50px;
    object-fit: contain;
    margin-top: 20px;
}
#first-text{
    width:  100%;
    font: 1.3em 'Aeonik';
    font-weight: 500;
}
#second-text{
    width:  100%;
    font: 1.3em 'Aeonik';
    font-weight: 500;
}
#third-text{
    width:  100%;
    font: 1.3em 'Aeonik';
    font-weight: 500;
}
.text p:nth-child(2){
    width:  100%;
    font: 0.95em 'Aeonik';
    font-weight: 400;
    margin-top: -13px;
}
#image{
    background-image: url(../1.svg);
    width: 100%;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -50px;
    background-position-x: -80px;
}

.foot{
    display: flex;
    width: 100%;
    height: 150px;
    justify-content: space-evenly;
    font-family: 'Aeonik';
}
.firstsection{
    width: 40%;
}
#sector1{
    display: flex;
}
#sector1 img{
    padding-left: 2.5%;
}
#sector1 p{
    color: #0AAA76;
    font-weight: 400;
    font:1.3em 'Eudoxus', 'Sans' ;
    padding-left:2% ;

}
#sector2{
    color: #FFFFFF;
}
#sector2 p{
    padding-left: 3%;
}

.secondsection{
    width: 50%;
    display: flex;
    justify-content: space-evenly;    
}
.fa-envelope{
    margin-right: 10px;
    font-size: 15px;
}
.fa-phone{
    margin-right: 10px;
    font-size: 15px;
}
#social-icon{
    display: flex;
    justify-content: space-between;
}
.fa-instagram{
    background-color: #061C2A;

}

/* signup */
.sign-up{
    width:100%;
    height: 900px;
    background-color: #0AAA76;
    font-family: 'Aeonik';
}
.signup{
    width: 50%;
    height: max-content;
    margin: auto;
    padding-top: 80px;
    display: flex;
    flex-flow: column wrap;
}
.whole{
    width: 100%;
    height: 700px;
    margin-top: 80px;

}
.x-icon{
    width: 100%;
    height: 50px;
}
#close{
    width: 8%;
    height: 50px;
    border-radius:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    margin-left: auto;
    background-color: #0AAA76;
}

.text1{
    width: 90%;
    margin: auto;
}
.text1 p{
    font-size: 5em;
    font-weight: 400;
    text-align: center;
}
.input-box{
    width: 50%;
    height: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 20px;
    z-index: 1;
    border: 1px solid;
}
.input-box input{
    width: 80%;
    outline: none;
    border: 1px transparent;
    background-color: #0AAA76;
}
::placeholder{
    font-size: 0.9em ;
    color: #FFFFFF;
    
}
#cir{
    width: 15%;
    height: 45px;
    border-radius: 100%;
    background-color: #060C22;
    position: absolute;
    left: 81.1%;
    top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.policy{
    width: 70%;
    margin: 40px auto;
}
.policy p{
    text-align: center;
    font-size: 1.5em;
    font-weight: 400;
}